body {

    background-color: rgb(188, 216, 240);

}


#class1 {

    justify-content: center;
    justify-self: center;
    height : 100px;
    width: 400px;
    border-radius: 20px;
    background-color: rgb(71, 22, 22);
    box-shadow: 10px 10px rgb(117, 149, 159);
    text-align:right;
    vertical-align: middle;

}
