body {

    background-color: rgb(174, 174, 220);

}


#class1 {

    height : 100px;
    width: 300px;
    border-radius: 20px;
    background-color: rgb(71, 22, 22);
    box-shadow: 10px 10px rgb(117, 149, 159);
    text-align:right;

}
