body {

    background-color: rgb(188, 216, 240);

}

.container {
    align-content: center;
    margin: 0 auto;
    width: 50%;
}

#class1 {
    
    height: 100px;
    width: 350px;
    border-radius: 20px;
    background-color: rgb(71, 22, 22);
    box-shadow: 10px 10px rgb(117, 149, 159);
    text-size: 30px;

}
